<div class="flex items-start justify-center min-h-screen bg-gray-50 p-0 md:p-4 md:pt-[40px]">
  <div
    class="w-full md:w-[960px] min-h-screen md:min-h-[initial] md:h-[640px] box-content bg-white border-0 md:border md:border-neutral-200 rounded-none md:rounded-[12px] overflow-hidden flex flex-col relative"
  >
    <app-header [title]="title"></app-header>
    <div class="flex-1 flex justify-center overflow-hidden relative">
      <div class="flex flex-col md:flex-row items-start max-w-[400px] md:max-w-[initial] w-full h-full">
        <!-- Sidebar - hide on success page OR on mobile when date is selected on booking page -->
        @if (!isSuccessPage()) { @if (bookingState.sessionData()) {
        <div
          [cn]="[
            'shrink-0 basis-0 h-auto md:h-full md:flex-1',
            { hidden: isBookingWithDateSelected(), 'md:block': isBookingWithDateSelected() }
          ]"
        >
          <app-sidebar [session]="bookingState.sessionData()!"></app-sidebar>
        </div>
        } @else {
        <div
          [cn]="[
            'flex-1 shrink-0 basis-0 h-auto md:h-full bg-white border-r border-[#f2f2f2] flex items-center justify-center',
            { hidden: isBookingWithDateSelected(), 'md:flex': isBookingWithDateSelected() }
          ]"
        >
          <p class="text-gray-400 text-sm">Loading...</p>
        </div>
        } }

        <!-- Page Content -->
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
